<h1>  edit product   </h1>
<%= form_tag "/products/#{@product.id}", method: :patch do %>
	<div class="container">

	  Name: <input type="text" name="product_name" value ="<%= @product.name %>" >
	  <br />
	  Price: <input type="text" name="price"  value ="<%= @product.price %>">
	  <br />
	  description: <input type="text" name="description"  value ="<%= @product.description %>">
	  <br />
	  image: <input type="text" name="image"  value ="<%= @product.image %>">
	  <input type="submit" value="edit product">
	</div>
<% end %>


	