
<h1> products </h1>
<h2>All Available Products</h2>
<a href="/products/new" class="btn btn-info" role="button">New item</a>                  
<table class="table table-striped">
<thead>
  <tr>
	<th> Name</th>
 	<th> Description</th>
 	<th> Price</th>
 </tr>
</thead>
<tbody>
	<% @products.each do |item| %>
	 	<tr>
		  <td> <a href= "/products/<%= item.id %>" > <%= item[:name] %>  </a></td>
		  <td> <a href= "/products/<%= item.id %>" > <%= item[:price] %> </a></td>
		  <td> <a href= "/products/<%= item.id %>" > <%= item[:description] %> </a></td>
		</tr>
	<% end %>
	</tbody>
</table>



